$primary-color: #00D4FF;
$secondary-color: #141055;

$blue-2: #3297A4;

$bg-color: #181818;

$white-color: #fff;

//Scale gray
$gray-1: #545454;
$gray-2: #727272;
$gray-3: #919191;
$gray-4: #AFAFAF;
$gray-5: #CDCDCD;
$gray-6: #EBEBEB;
$gray-7: #EEEEEE;
$gray-8: #F1F1F1;