@import 'colors.scss';
h1{
    font-size: 24px;
    color: $white-color;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
p{
    font-size: 16px;
    color: $gray-4;
}

.span-title{
    font-size: 24px;
    color: $primary-color;
}
.span-p{
    color: $primary-color;
}