@import 'colors.scss';
h1{
    font-size: 24px;
    color: $white-color;
}
h2{
    font-size: 20px;
    color: $white-color;
}
h3{
    font-size: 18px;
    color: $white-color;
    text-decoration:line-through;
    text-decoration-color: $primary-color;
    text-decoration-thickness: 3px;
}
h4{
    font-size: 24px;
}
p{
    font-size: 16px;
    color: $gray-4;
}

.span-title{
    font-size: 24px;
    color: $primary-color;
}
.span-p{
    color: $primary-color;
}